input{
    height: 50px;
    width: 50px;
    accent-color: white;
}

h2{
    padding-left: 15%;
    letter-spacing: 2px;
}
#heading{
    color: #052437;
}
.left{
    border-left: 2px solid black;
    /* border-bottom: 2px solid black; */
    border-collapse: collapse;
}
#bottom{
    border-bottom: 2px solid black;
}


body{
   display: flex;
   justify-content: center;
   align-items: center;
}
table{
   background-color: #009dff;
   
}

.yes{
    height: 55px;
    width: 55px;
}